@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;800&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  background-color: #F3F3F3;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  .header {
    font-weight: 600;
    color: #222;
    text-align: center;
    
    span {
      background-color: #222;
      color: white;
      padding: 10px;
      border-radius: 5px;
    }
    
    .separator {
      display: none;
    }
  }
}

.graph-minimap {
  box-shadow: #2222224d 0px 0px 0px 2px;
  svg {
    width: 100px;
    height: 70px;
  }
}

@media (max-width: 540px) {
  .header-wrapper {
    .header {
      .separator {
        display: inline;
      }
    }
  }
}